.head {
	width: 100%;
	line-height: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background: #000;
	color: #fff;
	padding: 0 16px;
}

.logo {
	font-size: calc(20px + 2vmin);
	font-weight: bold;
	text-transform: uppercase;
}

.nav {
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}