.servy-field__label {
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: bold;
}

.servy-field__input {
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: .2s ease-out;
}

.servy-field__input:focus {
  border-bottom: 1px solid #aaa;
}
